/node_modules
/public/hot
/public/upload
/public/aliyun
/public/demo
/public/demo_online
/public/uploads
/public/storage
/public/beibaoren/file
/public/download/warranty
/public/qrcodes/
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/log
/database/migrations/single
composer.lock
*.swp
config/yunda.php